<% content_for :content do %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 offset1">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header"><%= t('activerecord.models.category') %></li>
            <li <%= active_class(params[:controller] == 'admin/categories') %>><%= link_to t('helpers.links.categories'), admin_categories_path %></li>
            <li class="nav-header"><%= t('activerecord.models.property') %></li>
            <li <%= active_class(params[:controller] == 'admin/properties') %>><%= link_to t('helpers.links.properties'), admin_properties_path %></li>
            <li class="nav-header"><%= t('activerecord.models.product') %></li>
            <li <%= active_class(params[:controller] == 'admin/products') %>><%= link_to t('helpers.links.products'), admin_root_path %></li>
          </ul>
        </div>
      </div>
      <div class="span7">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div><!--/row-->

    <%= render 'layouts/footer' %>
  </div> <!-- /container -->
<% end %>
<%= render template: "layouts/application" %>
